<footer class="fixed-bottom bg-light">
    <div class="copyright">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 py-1 py-lg-4 ">
                    <span>
                        Copyright © 2023. All rights reserved | design by
                        <b> <a href="https://www.google.com/search?q=git+valley+technologies&rlz=1C1YTUH_enIN982IN982&oq=Git+Valley&gs_lcrp=EgZjaHJvbWUqBggBEEUYOzIHCAAQABiABDIGCAEQRRg7MgkIAhAuGAoYgAQyCQgDEAAYChiABDIJCAQQLhgKGIAEMgYIBRBFGD0yBggGEEUYPDIGCAcQRRg80gEIMTYzOWowajeoAgCwAgA&sourceid=chrome&ie=UTF-8"
                                style="color: black" target="_blank"> Git Valley Technologies</a>
                        </b>
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>