.copyright {
  box-shadow: 0  -0.7rem 0.7rem rgba(0, 0, 0, 0.15) 
}

.copyright span,
.copyright a {
  color: black;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}