<div class="container ptb-80">
    <div class="table-responsive">
        <table id="dataTable" class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Type</th>
                    <th>Reason</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let leave of leaves index as i">
                    <td>{{i+1}}</td>
                    <td>{{leave.name}}</td>
                    <td>{{leave.fromDate | date:'dd/MM/YYYY'}}</td>
                    <td *ngIf="leave.type=='Half'">-</td>
                    <td *ngIf="leave.type=='Full'">{{leave.toDate | date:'dd/MM/YYYY'}}</td>
                    <td *ngIf="leave.type=='Half'">{{leave.type}} Day ({{leave.slot}})
                    </td>
                    <td *ngIf="leave.type=='Full'">{{leave.type}} Day
                    </td>
                    <td>{{leave.reason}}</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-outline-danger"
                            (click)="rejectdLeave(leave.id)">Reject</button>&nbsp;
                        <button type="button" class="btn btn-outline-success"
                            (click)="approveLeave(leave.id)">Approve</button>&nbsp;
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>